<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Clicky needs screen recording access to see your screen and help you.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/marcodetering-prog/clicky/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>NzD0X71r3CONfj7wPNEzLVsUbSNdja/iChzO6/Sgtfk=</string>
	<key>VoiceTranscriptionProvider</key>
	<string>apple</string>
</dict>
</plist>
